<h1>Home#signup</h1>
<%= form_for @user, url: home_create_path do |f| %>

	<% if @user.errors.any? %>
    
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

	<!-- Update -->
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %> 
	</div>
	<!-- Update -->

	<div class="field">
		<%= f.label :password_confirmation %> <br />
		<%= f.password_field :password_confirmation %> 
	</div>

	<div class="actions">
    	<%= f.submit %>
  	</div>

<% end %>
<p>Find me in app/views/home/login.html.erb</p>
