<p id="notice"><%= notice %></p>

<h1>Listing Bike Models</h1>

<table>
  <thead>
    <tr>
      <th>Bike Model</th>
      <th>Model name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bike_models.each do |bike_model| %>
      <tr>
        <td><%= bike_model.id %> </td>
        <td><%= bike_model.bike_model_name %></td>
        <td><%= link_to 'Show', bike_model %></td>
        <td><%= link_to 'Edit', edit_bike_model_path(bike_model) %></td>
        <td><%= link_to 'Destroy', bike_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bike model', new_bike_model_path %>
