<h1>New Order</h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for @customer do |c| %>
  <div class="field">
    <%= c.label :id%><br />
    <select id="customer_id" name="customer[id]">
      <option value="">New Customer</option>
        <%= Customer.all.each do |customer| %>
          <option value="<%= customer.id%>"><%= customer.id %>. <%=customer.customer_name %></option>
        <% end %>
    </select>
  </div>
  <div class="field">
    <%= c.label :customer_name%><br />
    <%= c.text_field :customer_name%>
  </div>
  <div class="field">
    <%= c.label :customer_address %><br>
    <%= c.text_area :customer_address %>
  </div>
  <div class="field">
    <%= c.label :shipping_address %><br>
    <%= c.text_area :shipping_address %>
  </div>
  <div class="field">
    <%= c.label :customer_phone %><br>
    <%= c.text_field :customer_phone %>
  </div>
  <% end %>
  
  <%= f.hidden_field(:status, :value => "Not Paid") %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', orders_path %>
