<%= javascript_include_tag "angular/controller/stockController" %>

<div ng-controller="stockController">
  <h2> Stocks </h2>
  <!-- table pertama -->  
  <div id="table-responsive-custom">
    <table summary="This table shows file inside database" class="table table-bordered table-hover">
      <caption class="text-center">{{title}}</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Bike name</th>
          <th>Bike model</th>
          <th>Stock</th>
          <th>Price</th>
          <th>Bike size</th>
          <th colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody >
        <form>
          <tr ng-repeat="s in stocks">
            <td id="CustomerID" > {{s.id}} </td>
            <td id="ShippingAddress" > {{s.product.bike_name}} </td>
            <td id="OrderDate" > {{s.product.bike_model.bike_model_name}} </td>
            <td id="Status" > {{s.qty}} </td>
            <td id="OrderDate" > {{s.product.price}} </td>
            <td id="Status" > {{s.product.bike_size}} </td>          
            <td> 
             <input type="button" value="View Detail" class="viewProductDetail" onclick="viewProductDetail(this)">
             <input type="button" value="Edit Price" class="editProduct" onclick="editProductData(this)" > 
             <input type="button" value="Add Qty" class="inputProductStock" onclick="inputProductStock(this)" > 
             <input type="button" value="Revise Stock" class="reviseProductStock" onclick="reviseProductStock(this)" >
        </tr>
      </form>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="10" class="text-center">Data retrieved from database bike_store table bike_list</td>
      </tr>
    </tfoot>
  </table>
</div><!--end of .table-responsive-->
</div>

<h1>Product List</h1>
<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Bike name</th>
      <th>Bike model</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Bike size</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.bike_name %></td>
        <td><%= product.bike_model.bike_model_name %></td>
        <td><%= Stock.find_by(product_id: product.id).qty %>
        <td><%= product.price %></td>
        <td><%= product.bike_size %></td>
        <td><%= link_to 'Check', inventory_check_path(:id => product.id) %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Add Qty', inventory_add_path(:id => product.id) %></td>
        <td><%= link_to 'Revise Item', inventory_revise_path(:id => product.id) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>


