<!DOCTYPE html>
<html>
<head>
  <title>BikeStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% current_user %>
	<!--
		Fully Done -> No more
		Done -> Need To be Edited
	-->
	<ul>
		<li><%= link_to "Home", home_index_path %></li>
		<li><%= link_to "Login", home_login_path %></li> <!-- Done -->
		<li><%= link_to "Logout", home_logout_path %></li> <!-- Done -->
		<li><%= link_to "Sign Up", home_signup_path %></li>
		<li><%= link_to "User List", home_userlist_path %></li>

		<li><%= link_to "Customer", customers_path %></li> <!-- Done -->
		
		<li><%= link_to "Order", orders_path %></li>  <!-- Done - Need Javascript for dynamic autofill -->
		<li><%= link_to "Order Item", order_items_path %></li> <!-- Done -->
		
		<div><b>Product</b></div> <!-- Checking still missing -->
		<li><%= link_to "Product List", inventory_index_path %></li> <!-- Done -->
		<li><%= link_to "Add Stock", inventory_add_path %></li> <!-- Done-->
		<li><%= link_to "Revise Stock", inventory_revise_path %></li> <!-- Done -->

		<div><b>Product</b></div>
		<li><%= link_to "Model List", bike_models_path %></li> <!-- Done -->
		<li><%= link_to "Add Model", new_bike_model_path %></li>

		
	</ul>
<p id="notice"><%= notice %></p>

<%= yield %>

	
</body>
</html>
